*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products_container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 30px auto;
}

.cards {
    border: 1px solid black;
    padding: 15px;
    
}