*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container div{
    border:1px solid black;
    width: 100px;
    height: 100px;
}

.container{
    display: flex;
    flex-direction: row;
}

/* flex-direction - выбор направления основной оси
row: lay out the main axis from left to right
row-reverse: lay out the main axis from right to left
column: lay out the main axis from top to bottom
column-reverse: lay out the main axis from bottom to top

justify-content - выравнивание вдоль основной оси
  start
  center
  end
  space-between - 0
  space-around - 50%
  space-evenly - 100%


align-items - выравнивание вдоль второстепенной оси
  start
  center
  end

gap - добавление отступов между flex-элементами

flex-wrap - разрешение переноса на новую строку

*/